#app{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
/* #app #increment,#app #decrement{
    margin: auto;
} */

#app #myInput{
    margin: auto;
    width: 100px;
}